<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="text-center">
    <h1>An Error Has Occurred</h1>
    <p><%= @error_message %></p>
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/887/816/d60.jpg"
         alt="Error meme displaying the Incredible Hulk sleeping stating that things will be better when he wakes up. "
         style="width: 400px;height: 400px;">
  </div>
</div>
